/*
*= require lib/bootstrap/css/bootstrap.min.css
*/
html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}
.navbar-brand{
	max-height: 50px;
}

.navbar-brand img{
	padding-right: 10px;
}
/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by header and footer height */
  margin: 50px auto -110px;
  /* Pad bottom by header and footer height*/ 
  padding: 50px 0 110px;
}
/* Set the fixed height of the footer here */
#footer {
  height: 60px;
}